*{
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    margin-top: 300px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
}

.botoes {
    margin-top: 10px;
    text-align: center;
    
}

button {
    padding: 5px;
    margin: 5px;
    background-color: rgb(236, 237, 238);
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}